<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark d-xl-flex justify-content-xl-start clean-navbar"
        style="color: rgb(236,240,245);">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand logo" href="#"
                style="filter: brightness(181%);color: rgba(255, 122, 14, 0.87);font-size: 24px;"><strong>LiveMF</strong></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex active" href="index.html"
                            style="color: rgb(255,255,255);">TRANG CHỦ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html"
                            style="color: rgb(255,255,255);">TRUYỀN HÌNH</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html"
                            style="color: rgb(255,255,255);">PHIM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html"
                            style="color: rgb(255,255,255);">MỚI NHẤT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html"
                            style="color: rgb(250,250,250);">KHÁC</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"
                            style="color: rgb(255,254,254);">DANH SÁCH</a></li>
                </ul>
            </div><i class="fa fa-search" style="width: 30px;font-size: 24px;margin: 5px;"></i><i class="fa fa-gift"
                style="width: 30px;font-size: 24px;margin: 5px;"></i><i class="material-icons"
                style="width: 30px;margin: 5px;"></i>
            <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"
                    style="margin: 5px;">Profile </a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First
                        Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a
                        class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section id="intro" class="clean-block clean-hero" style="color: rgba(255,9,98,0.65);height: 400px;">
            <div class="full-bg-img">
            </div>
            <div class="text-info">
                <h2 style="color: #ffffff">Tạo buổi xem chung</h2>
                <p style="color: #ffffff">Tạo buổi xem chung cùng bạn bè để thỏa sức tận hưởng phút giây giải trí ngọt
                    ngào và trọn vẹn.</p><button class="btn btn-outline-light btn-lg" type="button">Thêm nội dung vào
                    danh sách phát</button>
            </div>
        </section>
        <div class="profiles-gate-container">
            <div class="centered-div"
                style="opacity: 1; transform: scale(1); transition-duration: 450ms; transition-delay: 200ms;">
                <div class="profile-actions-container">
                    <h1>Chỉnh sửa hồ sơ</h1>
                    <div class="profile-metadata profile-entry">
                        <div class="main-profile-avatar">
                            <div class="avatar-box"><img
                                    src="https://occ-0-58-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABTNGmA-4wRtoSFgAOYVIphE9_2VLsNXH6Ei4S6liWv_oRuRxTxog6ouEWSbCqfUFzZ70o88Z3WMlklJnAnSijU5QJXGc.png?r=228"
                                    alt="" style="opacity: 1; transform: scale(1); transition-duration: 400ms;">
                                <div class="avatar-edit-icon"><svg class="svg-icon svg-icon-edit" focusable="true">
                                        <use filter="" xlink:href="#edit"></use>
                                    </svg></div>
                            </div>
                        </div>
                        <div class="profile-edit-parent">
                            <div class="profile-edit-inputs"><input type="text" class="" placeholder="Tên" value="TD">
                            </div>
                            <div class="profile-entry-dropdowns">
                                <div class="profileDropDown">
                                    <h2 class="profileDropDown-label">Ngôn ngữ:</h2>
                                    <div cols="2" class="nfDropDown theme-lakira">
                                        <div class="label" role="button" tabindex="0" aria-haspopup="true"
                                            aria-expanded="false"><a class="user-lang-link" tabindex="0"
                                                role="link">Tiếng Việt</a><span class="arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-entry-restrictions">
                                <h2 class="profile-entry-header">Cài đặt độ tuổi:</h2>
                                <div>
                                    <ul>
                                        <li class="profile-maturity-label">R</li>
                                    </ul>
                                    <p>Chỉ hiển thị các video có mức xếp hạng độ tuổi từ <b>R trở xuống</b> cho hồ sơ
                                        này.</p>
                                </div>
                                <div class="responsive-account-container">
                                    <div class="content-restrictions-container">
                                        <div>
                                            <div id="messageBox" class="messageBox"></div>
                                            <h2 class="account-subheader content-restrictions-subheader"
                                                data-uia="content-restrictions-sub-header">Xếp hạng độ tuổi hồ sơ cho TD
                                            </h2>
                                            <div>
                                                <div class="content-restrictions-toggle-container">
                                                    <div>
                                                        <p id="" class="maturity-message" data-uia="">Chỉ hiển thị các
                                                            video có mức xếp hạng độ tuổi <b><span
                                                                    class="maturity-message-label first">TV-Y</span></b>
                                                            cho hồ sơ này.</p>
                                                    </div>
                                                    <div
                                                        class="content-restrictions-options content-restrictions-options-by-label">
                                                        <div class="content-restrictions-input-item selected first"
                                                            data-uia="action-select-maturity-10">
                                                            <div class="content-restrictions-input">
                                                                <div
                                                                    class="content-restrictions-radio pointer selected">
                                                                    <input type="radio" id="rating-radio-10"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-10-radio" value="10"></div>
                                                            </div><label for="rating-radio-10"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-tv-y"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Phù hợp với mọi độ tuổi">
                                                                                TV-Y</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-41">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-41"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-41-radio" value="41"></div>
                                                            </div><label for="rating-radio-41"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-tv-y7"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Phù hợp cho trẻ em từ 7 tuổi trở lên">
                                                                                TV-Y7</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-50">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-50"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-50-radio" value="50"></div>
                                                            </div><label for="rating-radio-50"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-tv-g"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Phù hợp với mọi độ tuổi">
                                                                                TV-G</li>
                                                                            <li data-uia="maturity-rating-g"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Phù hợp với mọi đối tượng">
                                                                                G</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-70">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-70"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-70-radio" value="70"></div>
                                                            </div><label for="rating-radio-70"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-tv-pg"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Nên có hướng dẫn của cha mẹ">
                                                                                TV-PG</li>
                                                                            <li data-uia="maturity-rating-pg"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Nên có hướng dẫn của cha mẹ">
                                                                                PG</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-80">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-80"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-80-radio" value="80"></div>
                                                            </div><label for="rating-radio-80"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-pg-13"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Cha mẹ nên cẩn trọng. Có thể không phù hợp với trẻ dưới 13 tuổi.">
                                                                                PG-13</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-90">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-90"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-90-radio" value="90"></div>
                                                            </div><label for="rating-radio-90"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-tv-14"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Cha mẹ nên cẩn trọng. Có thể không phù hợp với trẻ từ 14 tuổi trở xuống.">
                                                                                TV-14</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-100">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-100"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-100-radio" value="100"
                                                                        checked=""></div>
                                                            </div><label for="rating-radio-100"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-r"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Bị giới hạn. Có thể không phù hợp cho trẻ từ 17 tuổi trở xuống.">
                                                                                R</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item"
                                                            data-uia="action-select-maturity-110">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-110"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-110-radio" value="110"></div>
                                                            </div><label for="rating-radio-110"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-tv-ma"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Dành cho khán giả trưởng thành. Có thể không phù hợp với trẻ từ 17 tuổi trở xuống.">
                                                                                TV-MA</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="content-restrictions-input-item last"
                                                            data-uia="action-select-maturity-1000000">
                                                            <div class="content-restrictions-input">
                                                                <div class="content-restrictions-radio pointer"><input
                                                                        type="radio" id="rating-radio-1000000"
                                                                        name="maturity-rating"
                                                                        data-uia="maturity-1000000-radio"
                                                                        value="1000000"></div>
                                                            </div><label for="rating-radio-1000000"
                                                                class="content-restrictions-label pointer">
                                                                <div class="content-restrictions-description">
                                                                    <div>
                                                                        <ul>
                                                                            <li data-uia="maturity-rating-nc-17"
                                                                                class="pin-rating-item"
                                                                                data-tooltip="Không phù hợp cho trẻ từ 17 tuổi trở xuống">
                                                                                NC-17</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-entry-autoplay">
                                <h2 class="profile-entry-header">Điều chỉnh tự động phát</h2>
                                <div class="autoplay-option"><input type="checkbox" id="nextEpisode-profile"
                                        checked=""><label for="nextEpisode-profile"><svg
                                            class="svg-icon svg-icon-check-mark" focusable="true">
                                            <use filter="" xlink:href="#check-mark"></use>
                                        </svg></label><span class="nextEpisode-marker">Tự động phát tập tiếp theo của
                                        một loạt phim trên tất cả các thiết bị.</span></div>
                                <div class="autoplay-option"><input type="checkbox" id="videomerch-profile"
                                        checked=""><label for="videomerch-profile"><svg
                                            class="svg-icon svg-icon-check-mark" focusable="true">
                                            <use filter="" xlink:href="#check-mark"></use>
                                        </svg></label><span class="videomerch-marker">Tự động phát nội dung xem trước
                                        trong khi duyệt tìm trên tất cả các thiết bị.</span></div>
                            </div>
                        </div>
                    </div><span data-uia="profile-save-button"
                        class="profile-button preferred-action"><span>LƯU</span></span><span
                        data-uia="profile-cancel-button" class="profile-button"><span>HỦY</span></span>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Bắt đầu</h5>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Đăng kí</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Về chúng tôi</h5>
                    <ul>
                        <li><a href="#">Thông tin doanh nghiệp</a></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Hỗ trợ</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Trợ giúp</a></li>
                        <li><a href="#">Diễn đàn</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Pháp lý</h5>
                    <ul>
                        <li><a href="#">Thông tin pháp lý</a></li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright LiveMF</p>
        </div>
    </footer>
</body>

</html>