<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark d-xl-flex justify-content-xl-start clean-navbar"
        style="color: rgb(236,240,245);">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand logo" href="#"
                style="filter: brightness(181%);color: rgba(255, 122, 14, 0.87);font-size: 24px;"><strong>LiveMF</strong></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex active" href="index.html"
                            style="color: rgb(255,255,255);">TRANG CHỦ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html"
                            style="color: rgb(255,255,255);">TRUYỀN HÌNH</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html"
                            style="color: rgb(255,255,255);">PHIM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html"
                            style="color: rgb(255,255,255);">MỚI NHẤT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html"
                            style="color: rgb(250,250,250);">KHÁC</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"
                            style="color: rgb(255,254,254);">DANH SÁCH</a></li>
                </ul>
            </div><i class="fa fa-search" style="width: 30px;font-size: 24px;margin: 5px;"></i><i class="fa fa-gift"
                style="width: 30px;font-size: 24px;margin: 5px;"></i><i class="material-icons"
                style="width: 30px;margin: 5px;"></i>
            <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"
                    style="margin: 5px;">Profile </a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First
                        Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a
                        class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section id="intro" class="clean-block clean-hero" style="color: rgba(255,9,98,0.65);height: 400px;">
            <div class="full-bg-img">
            </div>
            <div class="text-info">
                <h2 style="color: #ffffff">Tạo buổi xem chung</h2>
                <p style="color: #ffffff">Tạo buổi xem chung cùng bạn bè để thỏa sức tận hưởng phút giây giải trí ngọt
                    ngào và trọn vẹn.</p><button class="btn btn-outline-light btn-lg" type="button">Thêm nội dung vào
                    danh sách phát</button>
            </div>
        </section>
        <div class="profiles-gate-container">
            <div class="centered-div list-profiles-container">
                <div class="list-profiles">
                    <div class="profile-gate-label">Quản lý hồ sơ</div>
                    <ul class="choose-profile">
                        <li class="profile">
                            <div><a class="profile-link" tabindex="0" data-uia="action-select-profile+primary">
                                    <div class="avatar-wrapper">
                                        <div class="profile-icon profile-edit-mode"
                                            style="background-image:url(https://occ-0-58-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABTNGmA-4wRtoSFgAOYVIphE9_2VLsNXH6Ei4S6liWv_oRuRxTxog6ouEWSbCqfUFzZ70o88Z3WMlklJnAnSijU5QJXGc.png?r=228)">
                                        </div>
                                        <div class="svg-edit-overlay"><svg class="svg-icon svg-icon-edit"
                                                focusable="true">
                                                <use filter="" xlink:href="#edit"></use>
                                            </svg></div>
                                    </div><span class="profile-name">TD</span>
                                </a>
                                <div class="profile-children"></div>
                            </div>
                        </li>
                        <li class="profile">
                            <div><a class="profile-link" tabindex="0" data-uia="action-select-profile+secondary">
                                    <div class="avatar-wrapper">
                                        <div class="profile-icon profile-edit-mode"
                                            style="background-image:url(https://occ-0-58-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABXD-Yg5si_V2M6lpXXgQvOrKIjrOoMsNt1MbxAbWFqePWv_JthrgRqFolwYCmBd0f3EJzUAV0OejnFTYQbuOQRBgn_YH.png?r=f26)">
                                        </div>
                                        <div class="svg-edit-overlay"><svg class="svg-icon svg-icon-edit"
                                                focusable="true">
                                                <use filter="" xlink:href="#edit"></use>
                                            </svg></div>
                                    </div><span class="profile-name">Bảo Ngọc</span>
                                </a>
                                <div class="profile-children"></div>
                            </div>
                        </li>
                        <li class="profile">
                            <div><a class="profile-link" tabindex="0" data-uia="action-select-profile+secondary">
                                    <div class="avatar-wrapper">
                                        <div class="profile-icon profile-edit-mode"
                                            style="background-image:url(https://occ-0-58-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABaD8qyc5BvSY2ag7E3Xu_dk7AAVcSe-H2A7fUQEEeISgPAMjwjkFrQOsVoNLFGfmsGmdOUF3UQICrIvTufDoDnJxJKYw.png?r=8aa)">
                                        </div>
                                        <div class="svg-edit-overlay"><svg class="svg-icon svg-icon-edit"
                                                focusable="true">
                                                <use filter="" xlink:href="#edit"></use>
                                            </svg></div>
                                    </div><span class="profile-name">nguyen manh</span>
                                </a>
                                <div class="profile-children"></div>
                            </div>
                        </li>
                        <li class="profile">
                            <div><a class="profile-link" tabindex="0" data-uia="action-select-profile+secondary">
                                    <div class="avatar-wrapper">
                                        <div class="profile-icon profile-edit-mode"
                                            style="background-image:url(https://occ-0-58-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABSLII-o6GmYPFo09Nlv7D5jVLJGKsBJnZFzFAj82yk-WfGl7mV_vbCPIK5h65iTgGTs1dobHjU5Nlwc0EwKaty5KYhoV.png?r=a41)">
                                        </div>
                                        <div class="svg-edit-overlay"><svg class="svg-icon svg-icon-edit"
                                                focusable="true">
                                                <use filter="" xlink:href="#edit"></use>
                                            </svg></div>
                                    </div><span class="profile-name">Nhi</span>
                                </a>
                                <div class="profile-children"></div>
                            </div>
                        </li>
                        <li class="profile">
                            <div><a class="profile-link" tabindex="0" data-uia="action-select-profile+secondary">
                                    <div class="avatar-wrapper">
                                        <div class="profile-icon profile-edit-mode"
                                            style="background-image:url(https://occ-0-58-325.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABcJfANN06pS1qGGuKNsfYk1JIdQCS5hihwPZZLdATqcq5CH20kkMRK9moXBAepqTzfb6tyURxlMravMyeCYR1UpKVb-z.png?r=6ce)">
                                        </div>
                                        <div class="svg-edit-overlay"><svg class="svg-icon svg-icon-edit"
                                                focusable="true">
                                                <use filter="" xlink:href="#edit"></use>
                                            </svg></div>
                                    </div><span class="profile-name">Vuong Hoang</span>
                                </a>
                                <div class="profile-children"></div>
                            </div>
                        </li>
                    </ul>
                </div><span data-uia="profile-button" class="profile-button preferred-action"><a
                        >HOÀN TẤT</a></span>
            </div>
        </div>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Bắt đầu</h5>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Đăng kí</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Về chúng tôi</h5>
                    <ul>
                        <li><a href="#">Thông tin doanh nghiệp</a></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Hỗ trợ</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Trợ giúp</a></li>
                        <li><a href="#">Diễn đàn</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Pháp lý</h5>
                    <ul>
                        <li><a href="#">Thông tin pháp lý</a></li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright LiveMF</p>
        </div>
    </footer>
</body>

</html>