<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/path/to/material-icons/iconfont/material-icons.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark d-xl-flex justify-content-xl-start clean-navbar"
        style="color: rgb(236,240,245);">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand logo" href="#"
                style="filter: brightness(181%);color: rgba(255, 122, 14, 0.87);font-size: 24px;"><strong>LiveMF</strong></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex active" href="index.html"
                            style="color: rgb(255,255,255);">TRANG CHỦ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html"
                            style="color: rgb(255,255,255);">TRUYỀN HÌNH</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html"
                            style="color: rgb(255,255,255);">PHIM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html"
                            style="color: rgb(255,255,255);">MỚI NHẤT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html"
                            style="color: rgb(250,250,250);">KHÁC</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"
                            style="color: rgb(255,254,254);">DANH SÁCH</a></li>
                </ul>
            </div><i class="fa fa-search" style="width: 30px;font-size: 24px;margin: 5px;"></i><i class="fa fa-gift"
                style="width: 30px;font-size: 24px;margin: 5px;"></i><i class="material-icons"
                style="width: 30px;margin: 5px;"></i>
            <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"
                    style="margin: 5px;">Profile </a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First
                        Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a
                        class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section id="intro" class="clean-block clean-hero" style="color: rgba(255,9,98,0.65);height: 400px;">
            <div class="main">
                <div id='content'>
                    <div class='title'>
                        <span>BUỔI CÔNG CHIẾU</span>
                    </div>
                    <p>coming soon</p>

                    <section>
                        <ul id="countdown">
                            <li><span class="days timenumbers">01</span>
                                <p class="timeRefDays timedescription">days</p>
                            </li>
                            <li><span class="hours timenumbers">00</span>
                                <p class="timeRefHours timedescription">hours</p>
                            </li>
                            <li><span class="minutes timenumbers">00</span>
                                <p class="timeRefMinutes timedescription">minutes</p>
                            </li>
                            <li><span class="seconds timenumbers yellow-text">00</span>
                                <p class="timeRefSeconds timedescription">seconds</p>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>
        <section class="d-xl-flex clean-block about-us" style="height: auto">
            <div class="container"><video class="d-inline d-xl-flex justify-content-xl-center" width="560" height="315"
                    controls></video></div>
            <div class="d-inline d-xl-flex justify-content-xl-right">
                <div class="user-widget-2">
                    <ul class="list-unstyled" style="color: beige;">
                        <li class="media"><img class="rounded-circle d-flex align-self-center"
                                src="https://bootdey.com/img/Content/avatar/avatar1.png" alt />
                            <div class="media-body">
                                <h5>Lucas smith</h5>
                                <p>Apple, Inc.</p>
                                <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-primary badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span>
                                </p>
                            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-success"></i>
                        </li>
                        <li class="media"><img class="rounded-circle d-flex align-self-center"
                                src="https://bootdey.com/img/Content/avatar/avatar6.png" alt />
                            <div class="media-body">
                                <h5>Janet Abshire</h5>
                                <p>Pinterest</p>
                                <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-primary badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span>
                                </p>
                            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-info"></i>
                        </li>
                        <li class="media"><img class="rounded-circle d-flex align-self-center"
                                src="https://bootdey.com/img/Content/avatar/avatar3.png" alt />
                            <div class="media-body">
                                <h5>Lucas Koch</h5>
                                <p>Reddit</p>
                                <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-primary badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span>
                                </p>
                            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-success"></i>
                        </li>
                        <li class="media"><img class="rounded-circle d-flex align-self-center"
                                src="https://bootdey.com/img/Content/avatar/avatar4.png" alt />
                            <div class="media-body">
                                <h5>Gladys Schuster</h5>
                                <p>Coursera</p>
                                <p><span class="badge badge-outline badge-sm badge-info badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-primary badge-pill">sed</span><span
                                        class="badge badge-outline badge-sm badge-danger badge-pill">voluptatem</span>
                                </p>
                            </div><i class="d-flex align-self-center fa fa-dot-circle-o color-warning"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="movie_card" id="bright">
                    <div class="info_section">
                        <div class="movie_header"><img class="locandina"
                                src="https://www.cgv.vn/media/catalog/product/cache/1/image/1800x/71252117777b696995f01934522c402d/c/c/ccee---payoff_poster_1.jpg" />
                            <h1>Chị Chị Em Em</h1>
                            <h4>2019, Đạo diễn: Kathy Uyên</h4><span class="minutes">117 min</span>
                            <p class="type">Tâm lý, Chính kịch, Giật gân</p>
                        </div>
                        <div class="movie_desc">
                            <p class="text">
                                Thiên Kim, một phát thanh viên tài năng quyết định đưa Nhi về nhà vì xót thương cho số
                                phận của cô gái trẻ. Mối quan hệ của hai người ngày càng thân thiết, điều đó làm nảy
                                sinh mâu thuẫn giữa Thiên Kim và chồng cô là Huy. Tuy nhiên mọi thứ dần trở nên
                                phức tạp khi mỗi người đều ấp ủ những bí mật kinh khủng.
                            </p>
                        </div>
                        <div class="movie_social">
                            <ul>
                                <li><i class="material-icons">share</i></li>
                                <li><i class="material-icons"></i></li>
                                <li><i class="material-icons">chat_bubble</i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blur_back bright_back"><img class="locandina"
                            src="https://vcdn-giaitri.vnecdn.net/2019/12/21/settopchiputhanhhangkhoathan-1-8378-2811-1576903477_1200x0.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=1pBWxGXSiNMcoVIxuFkMyg" />
                    </div>
                </div>
            </div>
        </section>
        <div class="comment">
            <div class="col s12 m9">
                <ul class="panel-action">
                    <li><a href="javascript:void(0)" class="active">Bình luận</a></li>
                </ul>
                <div class="block-comment">
                    <div class="top-block">
                        <div class="text-left left"><span>1 bình luận</span></div>
                        <div class="text-right right"><span class="left">Sắp xếp theo: </span><select
                                id="sort-comment-select" class="right browser-default">
                                <option value="lastest">Mới nhất</option>
                                <option value="like">Nhiều like nhất</option>
                                <option value="oldest">Cũ nhất</option>
                            </select></div>
                    </div>
                    <div class="input-comment" style="margin-bottom: 25px;"><div class="media"><div class="media-left"><div class="box-img avatar circle"><div class="thumb-img"><div class="global-figure"><a href="javascript:void(0)" class="global-image"><span style="background-image: url(&quot;https://static.fptplay.net/static/img/share/structure/08_05_2015/default_user_icon08-05-2015_16g50-27.jpg&quot;);"></span></a></div></div></div></div><div class="media-body"><div class="box-comment"><textarea rows="1" style="overflow:hidden" placeholder="Viết bình luận..." class="form-control"></textarea><a href="javascript:void(0)"><i class="material-icons">send</i></a></div></div></div></div>
                    <div class="list-comment">
                        <div class="media comment-item">
                            <div class="media-left">
                                <div class="box-img avatar circle">
                                    <div class="thumb-img">
                                        <div class="global-figure"><a href="javascript:void(0)"
                                                class="global-image"><span
                                                    style="background-image: url(&quot;https://static.fptplay.net/static/img/share/avatar/n.png&quot;);"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="comment-content">
                                    <div class="user-cmt"><span class="name">
                                            Nguyễn Vi
                                        </span><span class="time">
                                            Khoảng 1 giờ trước
                                        </span></div>
                                    <p>Kết thúc buồn quá</p>
                                    <ul class="action list-inline">
                                        <li><a href="javascript:void(0)" class=""><i
                                                    class="material-icons">thumb_up</i><span>0</span></a></li>
                                        <li><a href="javascript:void(0)"><i
                                                    class="material-icons">comment</i><span>1</span></a></li>
                                        <li><a href="javascript:void(0)" class=""><i class="material-icons">flag</i></a>
                                        </li>
                                    </ul>
                                    
                                </div>
                                
                                <div class="list-child">
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="media comment-item">
                            <div class="media-left">
                                <div class="box-img avatar circle">
                                    <div class="thumb-img">
                                        <div class="global-figure"><a href="javascript:void(0)"
                                                class="global-image"><span
                                                    style="background-image: url(&quot;https://static.fptplay.net/static/img/share/avatar/n.png&quot;);"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="comment-content">
                                    
                                    <div class="user-cmt"><span class="name">
                                        Đạo Nam
                                    </span><span class="time">
                                        Khoảng 1 giờ trước
                                    </span></div>
                                <p>Phim hay thế</p>
                                <ul class="action list-inline">
                                    <li><a href="javascript:void(0)" class=""><i
                                                class="material-icons">thumb_up</i><span>0</span></a></li>
                                    <li><a href="javascript:void(0)"><i
                                                class="material-icons">comment</i><span>1</span></a></li>
                                    <li><a href="javascript:void(0)" class=""><i class="material-icons">flag</i></a>
                                    </li>
                                </ul>
                                    
                                    <a href="javascript:void(0)" class="view-more-cmt">Xem thêm câu trả lời khác <i
                                            class="material-icons">keyboard_arrow_down</i></a>
                                </div>
                                
                                <div class="list-child">
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!---->
                </div>
            </div>
            <div class="col s12 m3 hide-on-med-and-down">
                <div class="right-banner">
                    <div class="ads_masthead_banner"><ins data-aplpm="11290110-"
                            class="adsplay-placement adsplay-placement-relative"></ins></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Bắt đầu</h5>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Đăng kí</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Về chúng tôi</h5>
                    <ul>
                        <li><a href="#">Thông tin doanh nghiệp</a></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Hỗ trợ</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Trợ giúp</a></li>
                        <li><a href="#">Diễn đàn</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Pháp lý</h5>
                    <ul>
                        <li><a href="#">Thông tin pháp lý</a></li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright LiveMF</p>
        </div>
    </footer>
</body>

</html>