.clean-navbar .navbar-nav .nav-item {
    padding-right: 2rem;
  }
  .btn:hover{
    background-color:red;
    color:#fff;
    border-color: red;
    
  }
  hr.new1 {
    border-top: 2px solid rgb(202, 202, 202);
    width: 100%;
    margin: 0px;
  }
  strong{
    color: #fff;
  }
  #taoma{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    width: 250px;
    border-color: #fff;
    color: black;
  }
  .row{
    padding-top: 50px;
    align-content: center;
  }
  .form-group{
    margin: 20px;
  }
  input:hover{
    background-color: #d86b04;
    color: rgb(240, 255, 106);
  }
  input {

    border: 2px solid #d86b04;
    background-color: #212529;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    width: 250px;
    color: #fff;
  }
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
  }  
  .navbar-brand{
    float:left;
    margin:0;
  }
  .page-footer.dark h5 {
    color: #fff;
  }
  .page-footer.dark .footer-copyright {
    background-color: #212529;
    border-color: #212529;
  }
  html,body,header,#intro{
      height:100%
  }
  .page-footer .footer-copyright {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #ededed;
  }
  .page-footer .footer-copyright p {
    margin: 10px;
    color: #7d8288;
  }
  
  
  
  #intro{
      background: url('../../assets/images/3885175.jpg')no-repeat center center fixed;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size: cover;
  }
  
  
  @media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  .clean-block.clean-hero .text-info {
    max-width: 640px;
    color: #fff;
    z-index: 2;
    padding: 40px 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.15);
  }
  .clean-block.clean-hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .clean-block.clean-hero {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0;
  }
  
  
  body {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #212529;
  }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .page-footer.dark {
    background-color: #2b2f31;
  }
  
  @media (min-width:576px) {
  .page-footer {
    text-align: center;
  }
}
.page-footer {
    background-color: #fff;
    padding-top: 30px;
    text-align: left;
  }
  @media (min-width:576px) {
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .col-sm-3 {
    border: 1px solid purple;
  }
  
  
  
footer{
    display: block;
  }
  
  
    
    
@media (min-width:768px){
    .carousel-inner .active,.carousel-inner .active+.carousel-item,.carousel-inner .active+.carousel-item+.carousel-item,.carousel-inner .active+.carousel-item+.carousel-item+.carousel-item{display:block}
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item{transition:none}
    .carousel-inner .carousel-item-next,.carousel-inner .carousel-item-prev{position:relative;transform:translate3d(0,0,0)}
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{position:absolute;top:0;right:-25%;z-index:-1;display:block;visibility:visible}
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,.carousel-item-next.carousel-item-left+.carousel-item,.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item{position:relative;transform:translate3d(-100%,0,0);visibility:visible}
    .carousel-inner .carousel-item-prev.carousel-item-right{position:absolute;top:0;left:0;z-index:-1;display:block;visibility:visible}.active.carousel-item-right+.carousel-item-prev.carousel-item-right,.carousel-item-prev.carousel-item-right+.carousel-item,.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item{position:relative;transform:translate3d(100%,0,0);display:block;visibility:visible}
}
    .highlight-phone{color:#e2e2e2;background-color:#212529;padding:50px 0 55px;overflow:hidden}
    .highlight-phone p{color:#eeeff0}
    .highlight-phone h2{font-weight:700;margin-bottom:35px;line-height:1.5;padding-top:0;margin-top:0;color:inherit}
    .highlight-phone .intro{font-size:18px;max-width:500px;line-height:1.5}
@media (max-width:767px){
    .highlight-phone{text-align:center}
    .highlight-phone .intro{max-width:none}
}
    .highlight-phone .intro p{margin-bottom:35px}
    .highlight-phone .intro .btn{padding:16px 32px;border:none;background:0 0;box-shadow:none;text-shadow:none;opacity:.9;text-transform:uppercase;font-weight:700;font-size:13px;letter-spacing:.4px;line-height:1}
    .highlight-phone .intro .btn:hover,.sp-thumbs a:hover{opacity:1}
    .highlight-phone .intro .btn:active{transform:translateY(1px)}
    .highlight-phone .intro .btn-primary{background-color:#055ada;color:#fff}
    .highlight-phone .iphone-mockup{position:relative;max-width:260px;margin-top:-30px;margin-bottom:-230px;transform:rotate(-15deg)}
    .highlight-phone .iphone-mockup img.device{width:100%;height:auto}
    .highlight-phone .iphone-mockup .screen{position:absolute;width:88%;height:77%;top:12%;border-radius:2px;left:6%;border:1px solid #444;overflow:hidden;background:url(../../assets/images/screen-content-iphone-6.jpg) center/cover}
    .highlight-phone .iphone-mockup .screen:before{content:'';background-color:#fff;position:absolute;width:70%;height:140%;top:-12%;right:-60%;transform:rotate(-19deg);opacity:.2}
    body,html{height:100%;width:100%}
    .sp-loading{text-align:center;max-width:270px;padding:15px;border:5px solid #eee;border-radius:3px;font-size:12px;color:#888}
    .sp-wrap{display:none;line-height:0;font-size:0;background:#eee;border:5px solid #eee;border-radius:3px;position:relative;margin:0 25px 15px 0;float:left;max-width:300px}
    .sp-thumbs{text-align:left;display:inline-block}
    .sp-thumbs img{min-height:50px;min-width:50px;max-width:50px}
    .sp-thumbs a:link,.sp-thumbs a:visited{width:50px;height:50px;overflow:hidden;opacity:.3;display:inline-block;background-size:cover;background-position:center;-webkit-transition:.2s ease-out;-moz-transition:.2s ease-out;-ms-transition:all .2s ease-out;-o-transition:.2s ease-out;transition:.2s ease-out}
    .sp-current,.sp-thumbs a:active{opacity:1!important;position:relative}
    .sp-large{position:relative;overflow:hidden;top:0;left:0}
    .sp-large a img{max-width:100%;height:auto}
    .sp-large a{display:block}
    .sp-zoom{position:absolute;left:-50%;top:-50%;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;display:none}
    .sp-lightbox{position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,.9);z-index:1031;display:none;cursor:pointer}
    .sp-lightbox img{position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;max-width:90%;max-height:90%;border:2px solid #fff}
    #sp-next,#sp-prev{position:absolute;top:50%;margin-top:-25px;z-index:501;color:#fff;padding:14px;text-decoration:none;background:#000;border-radius:25px;border:2px solid #fff;width:50px;height:50px;box-sizing:border-box;transition:.2s}
    #sp-prev{left:10px}
    #sp-prev:before{content:'';border:7px solid transparent;border-right:15px solid #fff;position:absolute;top:16px;left:7px}
    #sp-next{right:10px}
    #sp-next:before{content:'';border:7px solid transparent;border-left:15px solid #fff;position:absolute;top:16px;left:18px}
    #sp-next:hover,#sp-prev:hover{background:#444}
@media screen and (max-width:400px){
    .sp-wrap{margin:0 0 15px}
    #sp-next,#sp-prev{top:auto;margin-top:0;bottom:25px}}